:root {
  --black: #000000;
  --light-black: #333333;
  --white: #FFFFFF;
  --light-blue: #81B3D2;
  --light-brown: #766357;
  --grey: #888888;
  --light-grey: #EEEEEE;
  --light-grey2: #F2F2F2;
  --blue: #669EC0;
  --dark-blue: #5496BD;
  --dark-brown: #503E33;
  --brown: #604E43;
  --middle-dark-grey: #666666;

  --extra-white: rgba(255, 255, 255, 0.9);
  --extra-grey: #E5E5E5;
  --transparent-white: rgba(255, 255, 255, 0.3);
}

.body{
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--light-grey2);
  margin: 0 40px;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  text-align: center;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  background-color: var(--white);
}

.header__nav {
 display: flex;
}

.header__item {
  list-style: none;
}

.header__link {
  font-size: 14px;
  line-height: 1.85;
  font-weight: 700;
  text-decoration:none;
  color: #000000;
}

.header__link:hover {
  color: var(--light-blue);
}
.header__link:active {
  opacity: 0.3;
}

.main {
  background-color: var(--white);
}

.features__header {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.23;
}

.features__title {
  font-size: 21px;
  line-height: 1.23;
}

.features__text {
  font-size: 14px;
  line-height: 1.85;
}

.features__element-list {
  list-style: none;
  display: flex;
}

.features__text, .features__element-text, .features__row-text {
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  font-weight: 400;
}

.features__element-title {
  font-size: 21px;
  line-height: 1;
}

.features__element_background_blue {
  background: var(--light-blue);
  color: var(--white);
}

.features__row {
  background: var(--light-grey);
  display: flex;
}

.features__text_light-black {
  color: var(--light-black);
}

.footer {
  display: flex;
  background: var(--extra-white);
}
.footer__contacts {
  font-size: 21px;
  line-height: 1.23;
  font-weight: 700;
}

.footer__contacts-phone {
  color: var(--black);
  text-decoration: none;
}

.footer__list {
  list-style: none;
  display: flex;
}

/*Hotels.html*/
.hotels__sort, .hotels__sort-list {
  display: flex;
}

.hotels__sort-text, .hotels__title {
  font-size: 21px;
  line-height: 1.23;
}

.hotels__sort-title, .hotels__sort-item {
  font-size: 12px;
  line-height: 1.5;
}

.hotels__item-type, 
.hotels__item-price, 
.hotels__buttons,
.hotels__rating-value {
  font-size: 14px;
  line-height: 1.5;
}

.hotels {
  background-color: var(--white);
}

.hotels__sort-list {
  list-style: none;
  }

.hotels__sort-link {
  color: var(--black);
  text-decoration: none;
  }
.hotels__sort-link:hover {
  color: var(--light-blue);
}
.hotels__sort-link:active {
  color: var(--black);
  opacity: 0.3;
}

.hotels__list {
  list-style: none;
}

.hotels__link {
  color: var(--black);
}
.hotels__link:hover {
  color: var(--light-blue);
}
.hotels__link:active {
  color: var(--black);
  opacity: 0.3;
}

.hotels__item {
  border-top: 2px solid var(--extra-grey);
}

.hotels__item:last-child {
  border-bottom: 2px solid var(--extra-grey);
}

.hotels__link {
  color: var(--black);
  text-decoration: none;
}

.hotels__buttons-details {
  background-color: var(--light-blue);
}
.hotels__buttons-details:hover {
  background-color: var(--blue);
}
.hotels__buttons-details:active {
  background-color: var(--dark-blue);
  color: var(--transparent-white);
}

.hotels__buttons-book {
  background-color: var(--light-brown);
}
.hotels__buttons-book:hover {
  background-color: var(--brown);
}
.hotels__buttons-book:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);
}

.hotels__buttons {
  color: var(--white);
  text-decoration: none;
}

.hotels__rating-value {
  background-color: var(--light-grey2);
  color: var(--middle-dark-grey);
}