:root {
  --black: #000000;
  --light-black: #333333;
  --white: #FFFFFF;
  --light-blue: #81B3D2;
  --light-brown: #766357;
  --grey: #888888;
  --light-grey: #EEEEEE;
  --light-grey2: #F2F2F2;
  --blue: #669EC0;
  --dark-blue: #5496BD;
  --dark-brown: #503E33;
  --brown: #604E43;

  --extra-white: rgba(255, 255, 255, 0.9);
  --extra-grey: #E5E5E5;
  --transparent-white: rgba(255, 255, 255, 0.3);
}

.Body{
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--light-grey2);
  margin: 40px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  text-align: center;
  color: var(--black);
}

.Header {
  background-color: var(--white);
}

.Nav {
 display: flex;
}

.Nav__list-item {
  list-style: none;
}

.Nav__link:hover {
  color: var(--light-blue);
}
.Nav__link:active {
  opacity: 0.3;
}

.Nav__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-decoration:none;
  color: #000000;
}

.Main {
  background-color: var(--white);
}

.MainContent__header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.MainContent__title {
  font-size: 21px;
}

.MainElement__list, .MainElementBox {
  list-style: none;
  display: flex;
}

.MainElement__text, .MainContent__text {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  font-weight: 400;
}

.MainElement__content {
  background: var(--light-blue);
  color: var(--white);
}


.MainElementBox {
  background: var(--light-grey);
  display: flex;
}

.Footer {
  display: flex;
  background: var(--extra-white);
}
.Contacts {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.Contacts__phone {
  color: var(--black);
}

.Social__list {
  list-style: none;
  display: flex;
}

/*Hotels.html*/

.HotelsSort__text, .HotelsList__title {
  font-size: 21px;
  line-height: 26px;
}

.HotelsSort__title, .HotelsSort__list {
  font-size: 12px;
  line-height: 18px;
}

.HotelsList__item-type, 
.HotelsList__button-link, 
.HotelsList__item-price,
.HotelsList__rating-value {
  font-size: 14px;
  line-height: 21px;
}

.Hotels {
  background-color: var(--white);
}

.HotelsSort {
  display: flex;
}

.HotelsSort__list {
  display: flex;
  list-style: none;
}

.HotelsList {
  list-style: none;
}

.HotelsList__item {
  border-top: 2px solid var(--extra-grey);
}

.HotelsList__item--last {
  border-bottom: 2px solid var(--extra-grey);
}

.HotelsList__info-link {
  color: var(--black);
}

.ButtonDetails {
  background-color: var(--light-blue);
}
.ButtonDetails:hover {
  background-color: var(--blue);
}
.ButtonDetails:active {
  background-color: var(--dark-blue);
  color: var(--transparent-white);
}

.ButtonBook {
  background-color: var(--light-brown);
}
.ButtonBook:hover {
  background-color: var(--brown);
}
.ButtonBook:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);
}

.HotelsList__button-link {
  color: var(--white);
  text-decoration: none;
}