:root {
  --black: #000000;
  --light-black: #333333;
  --white: #FFFFFF;
  --light-blue: #81B3D2;
  --light-brown: #766357;
  --grey: #888888;
  --light-grey: #EEEEEE;
  --light-grey2: #F2F2F2;
  --blue: #669EC0;
  --dark-blue: #5496BD;
  --dark-brown: #503E33;
  --brown: #604E43;

  --extra-white: rgba(255, 255, 255, 0.9);
  --extra-grey: #E5E5E5;
}

.body{
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--light-grey2);
  margin: 40px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  text-align: center;
  color: var(--black);
}

.header {
  background-color: var(--white);
}

.nav {
 height: 56px;
 display: flex;
}

.nav__item {
  list-style: none;
}

.nav__link:hover {
  color: var(--light-blue);
}
.nav__link:active {
  opacity: 0.3;
}

.nav__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-decoration:none;
  color: #000000;
}

.main {
  background-color: var(--white);
}

.main__header .main__header--text {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.section__list {
  list-style: none;
  display: flex;
}

.main__header--paragraph,
.section__list .list--text,
.text--paragraph {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

.section__content {
  background: var(--light-blue);
  color: var(--white);
}

.contant__text {
  font-size: 14px;
  line-height: 21px;
}

.box {
  background: var(--light-grey);
  display: flex;
  width:
}

.heading {
  font-size: 21px;
  line-height: 21px;
}

.footer {
  display: flex;
  background: var(--extra-white);
}

.footer__phone {
  color: var(--black);
}

.footer__list {
  list-style: none;
  display: flex;
}

/*Hotels.html*/

.options .line {
  background-color: var(--white);
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
